body {
  height: 97vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 30%;
  height: 70%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 1% px;

  border: 2px solid black;
  border-radius: 1%;

  background-color: lightgray;
}

.display {
  width: 90%;
  height: 20%;

  display: flex;
  justify-content: end;
  align-items: center;

  font-size: 9vh;

  background-color: whitesmoke;
}

.keypad {
  width: 90%;
  height: 80%;

  display: flex;
}

.numbers {
  width: 60%;

  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.utils {
  width: 40%;

  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.numbers button {
  width: 33.33%;
  height: 25%;

  border-radius: 10%;

  background-color: gray;
}

.utils button {
  width: 50%;
  height: 25%;

  border-radius: 10%;

  background-color: orange;
}
