* {
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
}

body {
  height: 97vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black;
}

.calculator {
  width: 90%;
  height: 70%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.display {
  width: 80%;
  height: 20%;

  display: flex;
  justify-content: end;
  align-items: center;

  font-size: 9vh;
}

.keypad {
  width: 80%;
  height: 80%;

  display: flex;
  gap: 0.7rem;
}

.numbers {
  width: 60%;

  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 0.7rem;
}

.utils {
  width: 40%;

  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 0.7rem;
}

.numbers button {
  width: 27%;
  flex-grow: 1;

  background-color: #2a2a2c;
}

.utils-button {
  width: 42%;
  flex-grow: 1;

  background-color: #ff9f0a;
}

button {
  font-size: 5vh;

  border: black solid 0px;
  border-radius: 48px;

  height: 20%;
}

button:hover {
  opacity: 90%;
  transition: opacity 0.2s;
}

.other-utils {
  background-color: #5c5c5f;
}
